/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown.open {
  animation: slideDown 500ms ease-in-out forwards;
  transform-origin: top;
}

.dropdown.close {
  animation: slideUp 500ms ease-out forwards;
  transform-origin: top;
}

.custom-underline:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  transition: text-decoration ease-in-out 1s;
}

.custom-btn {
  @apply bg-[#E7E7E7] px-3 py-1 font-Lato text-lg font-medium text-[#000000] transition-colors duration-500 ease-in-out;
}

.custom-btn:hover {
  @apply hover:bg-[#FF6340] hover:text-[#E7E7E7];
}

.transition-border:hover {
  border-radius: 6px;
  transition: border-radius 500ms ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
    border-radius: 0 0 6px 6px;
  }
}

@keyframes slideUp {
  0% {
    transform: scaleY(1);
    opacity: 1;
    border-radius: 0 0 1px 1px;
  }

  33% {
    border-radius: 0 0 2px 2px;
  }

  66% {
    border-radius: 0 0 4px 4px;
  }

  100% {
    transform: scaleY(0);
    opacity: 1;
    border-radius: 0 0 6px 6px;
  }
}
